@page
@model Blog_App_policy_permission.Pages.Blog.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Published)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Published)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Draft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Draft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Blog.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
